.home {
    display: flex;
    gap: 16px; 
    flex-wrap: wrap; 
  }
  

  .card {
    border: 1px solid #ddd;
    padding: 16px;
    width: 200px;
    text-align: center;
  }
  
  .card-image {
    width: 150px;
    height: 150px;
    object-fit: cover; 
  }
  